kind: Deployment
name: paperless-ngx
replicaCount: 1
containers:
  - name: paperless-ngx
    repository: ghcr.io/paperless-ngx/paperless-ngx
    tag: 2.20.6
    port: 8000
    env:
      - name: PAPERLESS_REDIS
        value: "redis://paperless-ngx-valkey.tools.svc.cluster.local:6379"
      - name: PAPERLESS_URL
        value: "https://paperless.karnwong.me"
      - name: PAPERLESS_DISABLE_REGULAR_LOGIN
        value: "true"
    volumeMounts:
      - name: data
        mountPath: /usr/src/paperless/data
      - name: media
        mountPath: /usr/src/paperless/media
      - name: export
        mountPath: /usr/src/paperless/export
      - name: consume
        mountPath: /usr/src/paperless/consume
      - name: config
        mountPath: /usr/local/etc
        readOnly: true
volumes:
  - name: data
    hostPath:
      path: /opt/paperless-ngx/data
  - name: media
    hostPath:
      path: /opt/paperless-ngx/media
  - name: export
    hostPath:
      path: /opt/paperless-ngx/media
  - name: consume
    hostPath:
      path: /opt/paperless-ngx/consume
  - name: config
    configMap:
      name: paperless
service:
  port: 8000
  nodePort: 30079
