**/*source/
credentials.json
token.pickle
.env
*.html
**/__pycache__
**/.ipynb_checkpoints/
gcal-agenda/apache2/.htpasswd
docker/apache2/.htpasswd
docker/wallabag/
**/node_modules/
**/build/
**/.docusaurus/
docker/invidious/
docker/ttrss-docker-compose/
docker/wirehole/
docker/docs/build
docker/docs/build_o
.git_o/
docker/oracle-free-tier-wirehole/
docker/sup3rS3cretMes5age
**/images
