# projects
docker/ttrss-docker-compose/
docker/wirehole/
docker/work-dashboard
docker/postman-to-docusaurus/
docker/redash/

# python
**/.ipynb_checkpoints/
**/__pycache__

# services
**/images
**/pyrss

# env
.env
.transmission.env

.duckdns.env

*.plaintext.yaml
**/*-exporter/values.yaml
**/grafana*/**/configmap.yaml
**/grafana-agent-operator/values.yaml

# files
*.html

# terraform
**/.terraform
**/terraform.tfstate*
**/.infracost
**/terraform.tfvars
