---
apiVersion: v1
kind: Service
metadata:
  name: apps-vm-ssh
  namespace: vms
spec:
  type: NodePort
  selector:
    kubevirt.io/vm: apps-vm
  ports:
    - protocol: TCP
      port: 22
      targetPort: 22
      nodePort: 30081
---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: apps-vm
  namespace: vms
spec:
  runStrategy: Halted
  template:
    metadata:
      labels:
        kubevirt.io/vm: apps-vm
    spec:
      domain:
        devices:
          disks:
            - name: rootdisk
              disk:
                bus: virtio
            - name: cloudinitdisk
              disk:
                bus: virtio
          interfaces:
            - name: default
              masquerade: {}
        resources:
          requests:
            memory: 2Gi
            cpu: 2
      networks:
        - name: default
          pod: {}
      volumes:
        - name: rootdisk
          dataVolume:
            name: apps-dv
        - name: cloudinitdisk
          cloudInitNoCloud:
            userData: |
              #cloud-config
              hostname: apps-vm
              users:
                - name: ubuntu
                  sudo: ALL=(ALL) NOPASSWD:ALL
                  shell: /bin/bash
                  ssh_authorized_keys:
                    - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBj982HEBeVoQNBzx36aeHP4ERNH6UrvKX2ZyLPysYOu
              ssh_pwauth: true
              disable_root: false
              chpasswd:
                list: |
                  ubuntu:ubuntu
                expire: false
              package_update: true
              packages:
                - qemu-guest-agent
              runcmd:
                - systemctl enable ssh
                - systemctl start ssh
  dataVolumeTemplates:
    - metadata:
        name: apps-dv
      spec:
        storage:
          resources:
            requests:
              storage: 8Gi
          accessModes:
            - ReadWriteOnce
        source:
          registry:
            url: "docker://quay.io/containerdisks/ubuntu:24.04"
