apiVersion: v1
kind: Namespace
metadata:
  name: vms
---
apiVersion: cdi.kubevirt.io/v1beta1
kind: DataVolume
metadata:
  name: ubuntu-vm-disk
  namespace: vms
spec:
  source:
    http:
      url: "https://cloud-images.ubuntu.com/releases/24.04/release/ubuntu-24.04-server-cloudimg-amd64.img"
  pvc:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 20Gi
---
apiVersion: v1
kind: Service
metadata:
  name: ubuntu-vm-ssh
  namespace: vms
spec:
  type: NodePort
  selector:
    kubevirt.io/vm: ubuntu-vm
  ports:
    - protocol: TCP
      port: 22
      targetPort: 22
      nodePort: 30022
---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: ubuntu-vm
  namespace: vms
spec:
  runStrategy: Halted
  template:
    metadata:
      labels:
        kubevirt.io/vm: ubuntu-vm
    spec:
      domain:
        devices:
          disks:
            - name: disk0
              disk:
                bus: virtio
            - name: cloudinitdisk
              disk:
                bus: virtio
          interfaces:
            - name: default
              masquerade: {}
        resources:
          requests:
            memory: 4Gi
            cpu: 4
      networks:
        - name: default
          pod: {}
      volumes:
        - name: disk0
          dataVolume:
            name: ubuntu-vm-disk
        - name: cloudinitdisk
          cloudInitNoCloud:
            userData: |
              #cloud-config
              hostname: ubuntu-vm
              users:
                - name: ubuntu
                  sudo: ALL=(ALL) NOPASSWD:ALL
                  shell: /bin/bash
                  ssh_authorized_keys:
                    - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC1TEQzkd4xrymH8/70RZHb3xyTASVjEJq9tz+Dp2B0o
              ssh_pwauth: true
              disable_root: false
              chpasswd:
                list: |
                  ubuntu:ubuntu
                expire: false
              package_update: true
              packages:
                - qemu-guest-agent
              runcmd:
                - systemctl enable ssh
                - systemctl start ssh
