# either ONLY
export todo_path=

export todo_url="https://cloud.example.com/dav.php/todo.txt"
export webdav_username=
export webdav_password=

####
export caldav_url="https://dav.example.org/caldav"
export caldav_username=
export caldav_password=
export calendar_name="todo"