[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
caldav = "*"
pandas = "*"

[dev-packages]
jupyterlab = "*"
python-dotenv = "*"
pandas = "*"

[requires]
python_version = "3.9"
