kind: Deployment
name: mlflow
replicaCount: 1
containers:
  - name: mlflow
    repository: ghcr.io/kahnwong/docker-mlflow
    tag: daa1c4f
    port: 8080
    envFrom:
      - secretRef:
          name: mlflow
service:
  port: 8080
  nodePort: 30037
