# `caddy hash-password --algorithm bcrypt` for basicauth

comics.karnwong.me {
    reverse_proxy 127.0.0.1:30002
}
jellyfin.karnwong.me {
    reverse_proxy 127.0.0.1:30003
}
linkding.karnwong.me {
    reverse_proxy 127.0.0.1:30005
}
miniflux.karnwong.me {
    reverse_proxy 127.0.0.1:350
}
music.karnwong.me {
    reverse_proxy 127.0.0.1:4533
}
syncthing.karnwong.me {
    reverse_proxy 127.0.0.1:8384
}
ttrss.karnwong.me {
    reverse_proxy 127.0.0.1:8280
}
wallabag.karnwong.me {
    reverse_proxy 127.0.0.1:100
}
secrets.karnwong.me {
    reverse_proxy 127.0.0.1:30000
}
budget.karnwong.me {
    basicauth * {
        kahnwong JDJhJDE0JFBCUGpmLk83dkFEdEFUMXRnRmJLdmV2R1A2cUNFV2NMamVLYkJNR1hLMUlrRDI2NUZoN0Jp
    }
    reverse_proxy 127.0.0.1:30001
}
photos.karnwong.me {
    reverse_proxy 127.0.0.1:2342
}
sourcegraph.karnwong.me {
    reverse_proxy 127.0.0.1:3080
}
podgrab.karnwong.me {
    basicauth * {
        podgrab $2a$14$s1l.L4xhGyEwCjt/MhP4dO0v3YF1g1zwE0KjkYSVFRAeETBNGDeyG
    }
    reverse_proxy 127.0.0.1:30004
}
ed.karnwong.me {
    reverse_proxy 127.0.0.1:8555
}
work-dashboard.karnwong.me {
    basicauth * {
        unicorn $2a$14$m5EnKYBl0TK4835z.CNZpulIPfCeg7Cz117NzjeJL0KdOmqmbqlOK
    }
    reverse_proxy 127.0.0.1:8844
}
basemaps.karnwong.me {
    reverse_proxy 127.0.0.1:8352
}
redash.karnwong.me {
    reverse_proxy 127.0.0.1:7821
}
api-docs.karnwong.me {
    basicauth * {
        unicorn $2a$14$TqCcoQ/1EnAo9mETlEjUIO7AW8spV3ndeXjLGWY.mrh6epZFYTzn6
    }
    reverse_proxy 127.0.0.1:5333
}
