audiobookshelf.karnwong.me {
    reverse_proxy 192.168.1.51:30027
}
harbor.karnwong.me {
    reverse_proxy 192.168.1.51:30501 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
immich.karnwong.me {
    reverse_proxy 192.168.1.51:30030
}
jellyfin.karnwong.me {
    reverse_proxy 192.168.1.51:30003
}
music.karnwong.me {
    reverse_proxy 192.168.1.51:30006
}
dagster.karnwong.me {
    basicauth * {
        tua $2a$14$IsmBNJCIaB6GeXqiboUEHOpodH4LtBLyR7u6oX3Ugdo0rEEeXvtYW
    }
    reverse_proxy 192.168.1.36:3000
}
podgrab.karnwong.me {
    basicauth * {
        podgrab $2a$14$s1l.L4xhGyEwCjt/MhP4dO0v3YF1g1zwE0KjkYSVFRAeETBNGDeyG
    }
    reverse_proxy 192.168.1.51:30004
}
syncthing.karnwong.me {
    reverse_proxy 192.168.1.36:8384
}

git.karnwong.me {
    reverse_proxy 192.168.1.51:30026
}
kanboard.karnwong.me {
    reverse_proxy 192.168.1.51:30041
}
linkding.karnwong.me {
    reverse_proxy 192.168.1.51:30005
}
memos.karnwong.me {
    reverse_proxy 192.168.1.51:30031
}
miniflux.karnwong.me {
    reverse_proxy 192.168.1.51:30007
}
minio.karnwong.me {
    reverse_proxy 192.168.1.51:30020
}
ntfy.karnwong.me {
    reverse_proxy 192.168.1.51:30022
}
rustpad.karnwong.me {
    reverse_proxy 192.168.1.51:30019
}
secrets.karnwong.me {
    reverse_proxy 192.168.1.51:30025
}
share.karnwong.me {
    reverse_proxy 192.168.1.51:30017
}
shouldideploytoday.karnwong.me {
    reverse_proxy 192.168.1.51:30040
}
wallabag.karnwong.me {
    reverse_proxy 192.168.1.51:30009 {
        transport http {
            dial_timeout 5m
            response_header_timeout 5m
            read_timeout 5m
            write_timeout 5m
        }
    }
}

(cors) {
  @cors_preflight method OPTIONS
  @cors header Origin {args.0}

  handle @cors_preflight {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, HEAD"
    header Access-Control-Allow-Headers "Range,If-Match"
    header Access-Control-Max-Age "3600"
    respond "" 204
  }

  handle @cors {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Expose-Headers "ETag"
  }
}
pmtiles.karnwong.me {
    root * /opt/pmtiles
    file_server

    import cors https://maps.karnwong.me
}
excalidraw.karnwong.me {
    reverse_proxy 192.168.1.51:30034
}
books.karnwong.me {
    reverse_proxy 192.168.1.51:30032
}
mlflow.karnwong.me {
    basicauth * {
        kahnwong $2a$14$aOzINeAOPdscwDAUsUuVaOf3g1Rvw3aDmQVwI.aZBVSFtCULtR2OO
    }
    reverse_proxy 192.168.1.36:30037
}
subsonic-widgets.karnwong.me {
    reverse_proxy 192.168.1.51:30038
}
gist.karnwong.me {
    reverse_proxy 192.168.1.51:30039
}
