# caddy hash-password --algorithm bcrypt for basicauth

comics.karnwong.me {
    reverse_proxy 127.0.0.1:4946
}
jellyfin.karnwong.me {
    reverse_proxy 127.0.0.1:6589
}
linkding.karnwong.me {
    reverse_proxy 127.0.0.1:9089
}
miniflux.karnwong.me {
    reverse_proxy 127.0.0.1:350
}
music.karnwong.me {
    reverse_proxy 127.0.0.1:4533
}
syncthing.karnwong.me {
    reverse_proxy 127.0.0.1:8384
}
ttrss.karnwong.me {
    reverse_proxy 127.0.0.1:8280
}
wallabag.karnwong.me {
    reverse_proxy 127.0.0.1:100
}
secrets.karnwong.me {
    reverse_proxy 127.0.0.1:8082
}
budget.karnwong.me {
    basicauth * {
        kahnwong JDJhJDE0JFBCUGpmLk83dkFEdEFUMXRnRmJLdmV2R1A2cUNFV2NMamVLYkJNR1hLMUlrRDI2NUZoN0Jp
    }
    reverse_proxy 127.0.0.1:5004
}
photos.karnwong.me {
    reverse_proxy 127.0.0.1:2342
}
sourcegraph.karnwong.me {
    reverse_proxy 127.0.0.1:3080
}
podgrab.karnwong.me {
    reverse_proxy 127.0.0.1:352
}
ed.karnwong.me {
    reverse_proxy 127.0.0.1:8555
}
work-dashboard.karnwong.me {
    basicauth * {
        unicorn $2a$14$m5EnKYBl0TK4835z.CNZpulIPfCeg7Cz117NzjeJL0KdOmqmbqlOK
    }
    reverse_proxy 127.0.0.1:8844
}
status.karnwong.me {
    reverse_proxy 127.0.0.1:8832
}
basemaps.karnwong.me {
    reverse_proxy 127.0.0.1:8352
}
redash.karnwong.me {
    reverse_proxy 127.0.0.1:7821
}
