agenda.karnwong.me {
    basicauth * {
        kahnwong JDJhJDE0JHhKY1pSWTQ0TTAxbjlrQnNtVUN2L09zcVd2eEw4dExXMkd4eW0yRkJDMU9pZFRmMlVZU3Vl
    }
    reverse_proxy 127.0.0.1:8921
}
bitwarden.karnwong.me {
    reverse_proxy 127.0.0.1:4323
}
audiobooks.karnwong.me {
    reverse_proxy 127.0.0.1:4040
}
bookstack.karnwong.me {
    reverse_proxy 127.0.0.1:6875
}
books.karnwong.me {
    reverse_proxy 127.0.0.1:8083
}
comics.karnwong.me {
    reverse_proxy 127.0.0.1:4946
}
dashboard.karnwong.me {
    basicauth * {
        kahnwong JDJhJDE0JE5UMkU2RnBtRGIvVGY1eGd2OTZMRGVjTG0zV3paYUgzd0NHa1Uxczh1UVpBaHlzMDhvbDlP
    }
    reverse_proxy 127.0.0.1:9533
}
cloud.karnwong.me {
    reverse_proxy 127.0.0.1:9850
}
blog.karnwong.me {
    reverse_proxy 127.0.0.1:8080
}
invidious.karnwong.me {
    reverse_proxy 127.0.0.1:4313
}
jellyfin.karnwong.me {
    reverse_proxy 127.0.0.1:6589
}
kanboard.karnwong.me {
    reverse_proxy 127.0.0.1:9822
}
linkding.karnwong.me {
    reverse_proxy 127.0.0.1:9090
}
miniflux.karnwong.me {
    reverse_proxy 127.0.0.1:350
}
music.karnwong.me {
    reverse_proxy 127.0.0.1:4533
}
syncthing.karnwong.me {
    reverse_proxy 127.0.0.1:8384
}
ttrss.karnwong.me {
    reverse_proxy 127.0.0.1:8280
}
wallabag.karnwong.me {
    reverse_proxy 127.0.0.1:100
}
skriegersrss.duckdns.org {
    reverse_proxy 127.0.0.1:81
}
docs.karnwong.me {
    basicauth * {
        kahnwong JDJhJDE0JHhGTDd1RXV4bGE0aHJMMEFyZlRGdnVnL2JGL3FKMEF5MWpqQ2JBWDU4OXd2azcxSy9ucUFl
    }
    reverse_proxy 127.0.0.1:5333
}
slackbot.karnwong.me {
    reverse_proxy 127.0.0.1:8000
}
