services:
  tuwunel:
    image: jevolk/tuwunel:v1.4.9
    container_name: tuwunel
    restart: always
    ports:
      - 6167:6167
    env_file:
      - .env.app.tuwunel
    volumes:
      - /opt/tuwunel/data:/var/lib/tuwunel/
    networks:
      - matrix
  mautrix-whatsapp:
    image: dock.mau.dev/mautrix/whatsapp:v0.2510.0
    container_name: mautrix-whatsapp
    restart: always
    volumes:
      - /opt/matrix/mautrix-whatsapp:/data:z
    depends_on:
      - tuwunel
    networks:
      - matrix
  mautrix-meta: # connect to `metabot`
    image: dock.mau.dev/mautrix/meta:v0.2510.0
    container_name: mautrix-meta
    restart: always
    volumes:
      - /opt/matrix/mautrix-meta:/data:z
    depends_on:
      - tuwunel
    networks:
      - matrix
  mautrix-discord:
    image: dock.mau.dev/mautrix/discord:v0.7.5
    container_name: mautrix-discord
    restart: always
    volumes:
      - /opt/matrix/mautrix-discord:/data:z
    depends_on:
      - tuwunel
    networks:
      - matrix
  mautrix-signal:
    image: dock.mau.dev/mautrix/signal:v0.2601.0
    container_name: mautrix-signal
    restart: always
    volumes:
      - /opt/matrix/mautrix-signal:/data:z
    depends_on:
      - tuwunel
    networks:
      - matrix
  # # ----- for iMessage, see <https://docs.mau.fi/bridges/go/imessage/mac/setup.html> -----
  # mautrix-wsproxy:
  #  container_name: mautrix-wsproxy
  #  image: dock.mau.dev/mautrix/wsproxy
  #  restart: always
  #  env_file:
  #    - .env.app.mautrix-wsproxy
  #  ports:
  #    - 29331:29331
  #  environment:
  #    LISTEN_ADDRESS: ":29331"
  #    APPSERVICE_ID: imessage
  #  depends_on:
  #   - tuwunel
  #  networks:
  #   - matrix
networks:
  matrix:
    driver: bridge
