name: livegrep-clone
schedule: 0 7 * * 5 # every Friday at 7am
containers:
  - name: livegrep-clone
    repository: ghcr.io/kahnwong/livegrep-utils
    tag: "f330d8d"
    command:
      - sh
      - -c
    args:
      - |
        cd /data && /livegrep-utils
    envFrom:
      - secretRef:
          name: livegrep-clone-custom
    volumeMounts:
      - name: livegrep
        mountPath: /data
      - name: config
        mountPath: /data/repos.yaml
        readOnly: true
        subPath: repos.yaml
volumes:
  - name: livegrep
    hostPath:
      path: /opt/livegrep
  - name: config
    configMap:
      name: livegrep-clone-config
imagePullSecrets:
  - name: ghcr-cfg
