name: livegrep-indexer-custom
schedule: 15 7 * * 5 # every Friday at 7:15am
containers:
  - name: livegrep-indexer-custom
    repository: ghcr.io/livegrep/livegrep/indexer
    tag: 853379ed3f
    command:
      - sh
      - -c
    args:
      - |
        /livegrep/bin/codesearch -index_only -dump_index /data/livegrep.idx /data/livegrep.json
    volumeMounts:
      - name: livegrep
        mountPath: /data
volumes:
  - name: livegrep
    hostPath:
      path: /opt/livegrep
